<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.diagnext.mylibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyLibTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".d_bmiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyLibTheme.NoActionBar"/>
        <activity
            android:name=".d_UserLogin"
            android:screenOrientation="portrait"
            android:theme="@style/MyLibTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".d_MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyLibTheme.NoActionBar" />

        <service android:name=".d_SensorListener" />

        <receiver android:name=".d_BootReceiver">
            <intent-filter>
                <action android:name="in.diagnext.mylibrary" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".d_HealthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyLibTheme.NoActionBar" />
        <activity
            android:name=".d_MoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyLibTheme.NoActionBar" />
        <activity
            android:name=".d_GraphActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyLibTheme.NoActionBar" />
        <activity
            android:name=".d_RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".d_OTPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyLibTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />

        <meta-data
            android:name="sendotp.key"
            android:value="@string/sendotp_key" />

        <activity
            android:name=".d_LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyLibTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".d_SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyLibTheme.NoActionBar" />
        <activity
            android:name=".d_WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyLibTheme.NoActionBar" />
    </application>

</manifest>